<!-- http://stackoverflow.com/questions/15127834/how-can-i-iterate-over-the-keys-value-in-ng-repeat-in-angular -->

<div ng-controller="galleryController">
  <!-- changing between movies with arrows -->
  <h3 class="text-center">
    <a ng-href="#/details/{{ prev() }}">&larr;</a>
    Ranking: {{ movie.rank }}
    <a ng-href="#/details/{{ next() }}">&rarr;</a>
  </h3> 
  <div class="row small-up-1 medium-up-2 large-up-3">
    <div class=" small-12 medium-6 large-4 columns">
        <img class="movie-details" ng-src="{{ path + movie.imdbID + '.jpg' }}"/>
    </div>

    <div class=" small-12 medium-6 large-4 columns">
      <h1>{{ movie.title }}</h1>
      <dl>
        <dt>Rated</dt>  
        <dd>{{ movie.rated }}</dd>
        <dt>Released</dt>  
        <dd>{{ movie.released }}</dd>
        <dt>Runtime</dt>  
        <dd>{{ movie.runtime }}</dd>
        <dt>Genre(s)</dt>  
        <dd>{{ movie.genre.join(", ") }}</dd>
        <dt>Director(s)</dt>  
        <dd>{{ movie.director.join(", ") }}</dd>
        <dt>Actors(s)</dt>  
        <dd>{{ movie.actors.join(", ") }}</dd>
        <dt>Country</dt>  
        <dd>{{ movie.country.join(", ") }}</dd>
      </dl>
    </div>

    <div class=" small-12 medium-6 large-4 columns">

      <dl>
        <dt>Plot</dt>  
        <dd>{{ movie.plot }}</dd>
        <dt>Language</dt>  
        <dd>{{ movie.language.join(", ") }}</dd>
        <dt>Awards</dt>  
        <dd>{{ movie.awards }}</dd>
        <dt>Metascore</dt>  
        <dd>{{ movie.metascore }}</dd>
        <dt>IMDB Rating</dt>  
        <dd>{{ movie.imdbRating }}</dd>
        <dt>IMDB Votes</dt>  
        <dd>{{ movie.imdbVotes }}</dd>
      </dl>
    </div>

  </div>
</div>
</div>
</div>