<div ng-controller="galleryController">
  <div class="row">
    <label>Search by:
      <input type="text" placeholder="Search" ng-model="searchQuery"/>
    </label>
    <label>Sort by:
      <select ng-model="predicate">
        <option value="rank">Rank (Increasing)</option>
        <option value="-rank">Rank (Decreasing)</option>
        <option value="title">Alphabetically (A..Z)</option>
        <option value="-title">Alphabetically (Z..A)</option>
      </select>
    </label>
    <div class="columns movie-gallery small-12" ng-repeat="m in movies | filter:searchQuery | orderBy:predicate">
     <a ng-href="#/details/{{m.rank - 1}}">
      <span class="label">
        <img class="movie-list" ng-src="{{ path + m.imdbID + '.jpg' }}"/>
        <span class="list-item" style="font-size:2em;"> {{ m.title }} - Rank: {{ m.rank }} </span>
      </span>
    </a>
  </div>
</div>
</div>